<div>
    <a href="{{ collection.url }}">
        <img src="{{ collection.image | image_url }}" width="427" height="427">
        <h2 class="pt-3 underline text-center">{{ collection.title }}</h2>
        {% comment %} <p>products: {{ collection.all_products_count }}</p> {% endcomment %}
    </a>
    </div>