<div>
  <a href="{{ product.url }}">
    <img src="{{ product.featured_image | image_url }}" class="w-full h-56 rounded-md">
    <h3 class="text-base text-center pt-1 font-semibold">{{ product.title }}</h3>
    <p class="text-center pt-1">{{ product.price | money }}</p>
  </a>
</div>



