body {
  background-color: white;
  font-family: 'Poppins', serif;
}

.cart-drawer {
  position: fixed;
  top: 0;
  right: -100%;
  width: 30%;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.1s ease-in-out;
  z-index: 9999;
}

.cart-drawer-content {
  padding: 20px;
  overflow-y: auto;
  height: 100%;
}

.cart-drawer .close-drawer {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
