<img src="./assets/banner.webp">

<div class="container mx-auto">
  <h3 class="font-semibold text-3xl mt-8 text-center">Our Best Sellers</h3>

  <h2 class="text-center text-base font-normal underline">{{ collections.frontpage.title }}</h2>
  <div class="grid grid-cols-4 gap-4 my-10">
    {% for product in collections.frontpage.products %}
      {% render 'product-item', product: product %}
    {% endfor %}
  </div>

  <hr>

  <h2 class="font-semibold text-3xl mt-8 text-center">{{ collections['trending-now'].title }}</h2>
  <h2 class="text-center text-base font-normal underline">{{ collections['trending-now'].description }}</h2>

  <div class="grid grid-cols-4 gap-4 my-10">
    {% for product in collections['trending-now'].products %}
      {% render 'product-item', product: product %}
    {% endfor %}
  </div>


<hr>
<h3 class="font-semibold text-3xl mt-8 text-center">Explore the Collections</h3>
<h2 class="text-center text-base font-normal underline">Stylish & Versatile Bags</h2>


<div class="grid grid-cols-3 gap-4 my-10">
{% for collection in collections %}
    {% render 'collection-item', collection: collection %}
  {% endfor %}
  </div>
</div>
